* {
    font-family: arial;
}

#mastHead {
    height: 90vh;
    background: black;
    width: 100%;
    display: table;
    background: url('images/titus.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    vertical-align: middle;
}

body {
    margin: 0;
}

#mastHeadContent {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#logo {
    margin: auto;
    width: 261px;
    height: 115px;
    background: url('images/echo.gif');
}

.highlight {
    background: rgba(26, 26, 26, 0.86);
    color: white;
}

.widest {
    max-width: 900px;
}
.widestplus {
    max-width: 960px;
}
.widthWrap {
    margin-left: 20px;
    margin-right: 20px;
    margin: auto;
}

#top {
    position: fixed;
    width: 100%;
    background: #FFFFFF;
}


/*
#top {
    width: 100%;
    background: #FFFFFF;
}
*/

#top h1 {
    font-size: 20px;
    float: left;
    margin-top: 25px;
    margin-bottom: 5px;
}

#top h2 {
    float: right;
    font-size: 20px;
    font-weight: normal;
    color: #333333;
    display: inline;
    margin-top: 45px;
    margin-bottom: 0px;
}

.post {
    width: 440px;
/*    float: left;*/
    z-index: 0;
}


.postImage img{
    max-width: 440px;
/*    height: 200px;*/
    background-size: cover;
}
#navStick{
    background: #f7f7f7;
    width: 100%;
    padding: 3px;
    z-index: 1;
}
nav{
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    max-width: 900px;
    margin: auto;
    z-index: 2;

}
nav ul{
    display: inline;
    margin-left: 0px;
    padding-left: 0px;
}
nav ul ul{
    
}
nav li{
    text-decoration: none;
    display: inline;
    margin-left: 0px;
    background: #e6e6e6;
    margin-right: 5px;
    padding: 3px 0px 3px 0px;
}
nav ul ul li{
    font-size: 14px;
/*    padding: 3px;*/
    color: #525252;
}
.dgrey{
    background: #d0d0d0;
    margin: 0;
    padding: 3px;
}