* {
    font-family: arial;
}
#mastHead {
    height: 90vh;
    background: black;
    width: 100%;
    display: table;
    background: url('images/titus.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    vertical-align: middle;
}
body {
    margin: 0;
}
.clearFix {
    clear: both;
    height: 0px;
    margin: 0;
}
#mastHeadContent {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#logo {
    margin: auto;
    width: 261px;
    height: 115px;
    background: url('images/echo.gif');
}
.highlight {
    background: rgba(26, 26, 26, 0.86);
    color: white;
}
.widest {
    max-width: 900px;
}
.medium {
    max-width: 620px;
    
}
.widestplus {
    max-width: 960px;
}
.widthWrap {
/*    margin-left: 20px;*/
    margin-right: 20px;
    margin: auto;
}
#welcome{
    margin-bottom: 50px;
    text-align: center;
}
#top {
    position: fixed;
    width: 100%;
    background: #FFFFFF;
    height: 80px;
    z-index: 100;
}
/*
#top {
    width: 100%;
    background: #FFFFFF;
}
*/

#top h1 {
    font-size: 20px;
    float: left;
    margin-top: 25px;
    margin-bottom: 5px;
}
#top h2 {
    float: right;
    font-size: 20px;
    font-weight: normal;
    color: #333333;
    display: inline;
    margin-top: 45px;
    margin-bottom: 0px;
}
.post {
    width: 440px;
    /*    float: left;*/

    z-index: 0;
    margin-right: 10px;
}
.postImage img {
    max-width: 440px;
    /*    height: 200px;*/
    background-size: cover;
    z-index: -2;
}
#navStick {
    display: none;
}
nav {
    padding: 15px 0px 15px 0px;

    border: 1px solid black;
    max-width: 900px;
    margin: auto;
    z-index: 2;
    position: relative;

    text-align: center;
}
nav ul {
    display: inline;
    margin-left: 0px;
    padding-left: 0px;
}
 nav li {
    text-decoration: none;
    display: inline;
    margin-left: 0px;
    border: 1px solid grey;
    margin-right: 5px;
    padding: 3px 0px 3px 0px;
}
nav ul ul li {
    font-size: 14px;
    /*    padding: 3px;*/
    border: none;
    color: #525252;
}
.dgrey {
    background: #d0d0d0;
    margin: 0;
    padding: 3px;
}
#posts {} 
.navBar {
    background: #f0f0f0;
    width: 100%;
    padding: 10px 0px 10px 0px;
    z-index: 1;
}
#intro {
    text-align: center;
}
#echo {
    float: none;
    text-align: center;
    display: inline;
    width: 500px;
    margin: auto;
    position: absolute;
    top: 60px;
    opacity: 0;
    transition: .2s;
    
}
#echo h1 {
    float: none;
    margin: 0;
}
#navUnStick {


}
#welcome{
    border:1px solid #000;
border-width:1px 0 1px 0;
    margin-top: 13vh;
    margin-bottom: 13vh;
    padding: 20px 0 20px 0;
}