*{
    font-family: arial;
}
#mastHead {
    height: 90vh;
    background: black;
    width: 100%;
    display: table;
    background: url('images/titus.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    vertical-align: middle;
}

body {
    margin: 0;
}

#mastHeadContent {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#logo {
    margin: auto;
    width: 261px;
    height: 115px;
    background: url('images/echo.gif');
}

.highlight {
    background: rgba(26, 26, 26, 0.86);
    color: white;
}

.widest {
    max-width: 900px;
}

.widthWrap {
    margin-left: 20px;
    margin-right: 20px;
    margin: auto;
}
#top {
    position: fixed;
    width: 100%;
    background: #FFFFFF;
}
/*
#top {
    width: 100%;
    background: #FFFFFF;
}
*/
#top h1 {
    font-size: 20px;
    float: left;
    margin-top: 25px;
    margin-bottom: 5px;
}

#top h2 {
    float: right;
    font-size: 20px;
    font-weight: normal;
    color: #333333;
    display: inline;
    margin-top: 45px;
    margin-bottom: 0px;
}
